<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>错误异常页面</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>-->

</head>
<body>

<!-- 内容 -->
<div class="container">
    <br/>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 th:text="${errorname }"></h2>
        <p th:text="${exception.message }"></p>
        <p th:text="${url }"></p>
    </div>
</div>

<!-- 内容 -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/popover.js"></script>

</body>
</html>