<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页</title>
    <link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap-theme.css}" rel="stylesheet"/>
</head>
<body>
<!--引入导航栏-->
<div th:include="/common/top :: top"></div>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title" th:utext="${article.title}"></h3>
        </div>
        <div class="panel-body">
            <div th:utext="${article.content}"></div>
        </div>
    </div>
    <button type="button" class="btn btn-info" onclick="javascript:history.back(-1);">返回上一页</button>
    <button type="button" class="btn btn-info" onclick="javascript:window.location.href=path+'/article/index';">返 回 主 页</button>
</div>

<script th:href="@{/js/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:href="@{/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>
<script type="text/JavaScript">

    var path = "";
    $(function () {
        var strFullPath = window.document.location.href;
        var strPath = window.document.location.pathname;
        var pos = strFullPath.indexOf(strPath);
        var prePath = strFullPath.substring(0, pos);
        var postPath = strPath.substring(0, strPath.substr(1).indexOf('/') + 1);
        path = prePath;
    });
</script>
</body>
</html>